@import "tailwindcss";
@import './react-calendar.pcss';


* {
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
  background-color: #FAF9F6;
  color: #111827;
}

::-webkit-scrollbar {
  display: none;
}

